<app-page-loader *ngIf="loading"></app-page-loader>

<div *ngIf="loadError" class="home-page-state container mx-auto px-6 py-20 text-center text-red-600">
  We could not load the home page. Please try again later.
</div>

<ng-container *ngIf="!loading && !loadError && homePage">
  <div class="home-page overflow-x-clip max-w-full">
  <app-hero></app-hero>
  <div class="home-below-hero w-full max-w-[1360px] mx-auto px-6 sm:px-8 md:px-12 lg:px-16 xl:px-20">
    <app-features [homePage]="homePage"></app-features>
    <app-home-contents [homePage]="homePage" [merchantsPage]="merchantsPage"></app-home-contents>
  </div>
  </div>
</ng-container>
