<div *ngIf="loading" class="home-page-state container mx-auto px-6 py-20 text-center text-gray-600">
  Loading…
</div>

<div *ngIf="loadError" class="home-page-state container mx-auto px-6 py-20 text-center text-red-600">
  We could not load the home page. Please try again later.
</div>

<ng-container *ngIf="!loading && !loadError && homePage">
  <app-hero></app-hero>
  <app-features [homePage]="homePage"></app-features>
  <app-home-contents [homePage]="homePage" [merchantsPage]="merchantsPage"></app-home-contents>
</ng-container>
