
<app-navbar></app-navbar>

<!-- الصفحات تُعرض عبر router-outlet (مثلاً '' → HomeComponent) -->

<!-- <app-merchants></app-merchants> -->

<!-- <app-categories></app-categories> -->
 <!-- <app-careers></app-careers> -->

<!-- <app-faq></app-faq> -->
<!-- <app-about-us></app-about-us> -->
<!-- <app-contact-us></app-contact-us> -->
<!-- <app-terms-conditions></app-terms-conditions> -->
<!-- <app-privacy-policy></app-privacy-policy> -->
<!-- <app-blogs></app-blogs> -->

<router-outlet></router-outlet>

<app-footer></app-footer>
